<style>
h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
}
 
p {
    width: 50%;
    line-height: 2;
    display: inline-block;
    background-color: #a6c6d8;
    padding: 20px;
    position: relative;
    z-index: 999;
    margin: 20px 0 0;
    color: #fff;
    letter-spacing: 2px;
}
img {
    height: 350px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: -20px;
    top:-60px;
}
 
a {
    color: #fff;
    text-decoration: none;
    background-color: #f3c0e8;
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #f1b5e4;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 50px auto 0;
    letter-spacing: 2px;
}
 
h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #eeb5c3;
    position: absolute;
    width: 100px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}
 
.btn {
    padding: 10px 30px;
    background: pink;
    color: #ffffff;
}

html {
    background-color: #c1b6e6;
}
 
body {
    background-color: #fff;
    padding: 30px 30px 30px;
    max-width: 900px;
    margin: 50px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    position: relative;
}
 

</style>